{% extends "base.html" %}

{% block body %}

<div class="container chat-container">
    <h3 class="text-center">Chat <span id="chat-name"></span></h3>

    <!-- Add a room selection dropdown -->
    <div class="input-group">
        <select class="form-select" id="roomSelect" aria-label="select chat room">
            <option selected>Choose your room...</option>
        </select>
        <button class="btn btn-outline-success"
                type="button" id="roomSelectBtn"
                onclick="connectToWebSocket()">Connect</button>
    </div>

    <!-- Chat room log -->
    <div id="chatLog" class="bg-dark-subtle h-100 my-3">&nbsp;</div>

    <!-- message area -->
    <div class="input-group" id="messageArea">
        <span class="input-group-text">Message</span>
        <textarea class="form-control" aria-label="With textarea" rows="4" id="messageInput"></textarea>
        <button class="btn btn-primary"
                type="button" id="submit"
                onclick="">Send</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='/js/config-vars.js') }}"></script>
<script src="{{ url_for('static', path='/js/chat.js') }}"></script>
<script>
    function connectToWebSocket() {
        const selectedRoom = document.getElementById("roomSelect").value;
        const submit = document.getElementById("submit");
        const wsUri = `${wsHost}/chat/ws/${selectedRoom}?x_auth_token=${xAuthToken}`;
        const socket = new WebSocket(wsUri);

        socket.onopen = (event) => {
            console.log("WebSocket connection opened:", event);
            let data = {
                event: 'join',
                room_id: selectedRoom,
                access_token: testAccessToken
            }
            socket.send(JSON.stringify(data));
            $("#roomSelect").prop("disabled", true);
            $("#roomSelectBtn").text("Connected");
            $("#roomSelectBtn").attr("class", "disabled btn btn-success");
        };

        socket.onmessage = (event) => {
            console.log("Message received:", event, event.data);
            const messageData = JSON.parse(event.data);
            appendMessage(messageData.message);
        };

        socket.onclose = (event) => {
            if (event.wasClean) {
                let data = {
                    event: 'leave',
                    room_id: selectedRoom,
                    access_token: testAccessToken
                }
                socket.send(JSON.stringify(data));
                console.log(`Connection closed cleanly, code=${event.code}, reason=${event.reason}`);
            } else {
                console.error(`Connection died`);
            }
        };

        submit.addEventListener("click", sendMessage);

        function sendMessage() {
            const messageInput = document.getElementById("messageInput");
            const message = messageInput.value;
            if (message.trim() !== "") {
                let data = {
                    event: 'message',
                    room_id: selectedRoom,
                    access_token: testAccessToken,
                    message: message
                }
                socket.send(JSON.stringify(data));
                messageInput.value = "";
            }
        }

        function appendMessage(message) {
            const chatLog = document.getElementById("chatLog");
            const messageElement = document.createElement("div");
            messageElement.textContent = message;
            chatLog.appendChild(messageElement);
        }
    }
</script>
{% endblock %}