<section class="fixed-top bg-body-tertiary border-1 border-bottom" id="navbar-block">
    <div class="container p-2">
        <div class="row justify-content-start align-items-center">
            <div class="col col-auto text-center">
                <a class="navbar-brand d-block p-2 m-0 fs-3" href="/">Mazars</a>
            </div>
            <div class="col col-auto text-center">
                <a class="d-block p-2 btn btn-outline-primary" href="/chat">Chat</a>
            </div>
<!--            <div class="col col-auto text-center">-->
<!--                <a class="d-block p-2 btn btn-primary" href="/auth/signup">Register</a>-->
<!--            </div>-->
        </div>
    </div>
</section>

