.chat-sidebar {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    width: 20%;
}
.chat-container {
    /*padding-left: 20%;*/
}
#messageArea {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#messageArea textarea {
    resize: none;
}